body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #fafafa; }
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url("/ali-and-darren/img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    width: 100%;
    height: 100%;
    z-index: -10; }
    @supports (-webkit-overflow-scrolling: touch) {
      body:before {
        background-attachment: initial; } }
  body a {
    color: #ba9261;
    text-decoration: none; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Arizonia', Helvetica, sans-serif;
    color: #ba9261;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  body h1 {
    font-size: 3em; }
  body h2 {
    font-size: 2.6em; }
  body h3 {
    font-size: 2.4em; }
  body h4 {
    font-size: 2em; }
  body h5 {
    font-size: 1.7em; }
  body h6 {
    font-size: 1.5em; }
  body img {
    max-width: 100%; }
  body .center {
    text-align: center; }
  body .center-block {
    display: block;
    margin: auto; }
  body #mobile-menu-curtain {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  body nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 51px;
    width: 100%;
    background-color: #fafafa;
    text-transform: uppercase;
    text-align: center;
    z-index: 1; }
    body nav .nav-item {
      -webkit-transition: .25s all;
      -o-transition: .25s all;
      transition: .25s all;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      cursor: pointer;
      padding: 1rem 0.5rem; }
      body nav .nav-item:hover, body nav .nav-item.active {
        background-color: #ba9261;
        color: #fafafa; }
      @media (max-width: 709px) {
        body nav .nav-item {
          display: none; } }
    body nav #mobile-menu-icon {
      display: none;
      position: absolute;
      top: -6px;
      right: 15px;
      margin: 1rem auto;
      width: 45px;
      height: 45px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      body nav #mobile-menu-icon div {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background-color: #222;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        body nav #mobile-menu-icon div:nth-child(1) {
          top: 0px; }
        body nav #mobile-menu-icon div:nth-child(2) {
          top: 12px; }
        body nav #mobile-menu-icon div:nth-child(3) {
          top: 24px; }
      body nav #mobile-menu-icon.open div:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg); }
      body nav #mobile-menu-icon.open div:nth-child(2) {
        opacity: 0;
        left: -60px; }
      body nav #mobile-menu-icon.open div:nth-child(3) {
        top: 12px;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg); }
      @media (max-width: 709px) {
        body nav #mobile-menu-icon {
          display: block; } }
    body nav #mobile-menu {
      display: none;
      position: absolute;
      top: 51px;
      right: 0;
      background-color: #fafafa;
      text-align: left; }
      body nav #mobile-menu .nav-item {
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%; }
  body section#monogram {
    margin-top: 3rem;
    text-align: center; }
    @supports not (-ms-ime-align: auto) {
      body section#monogram svg #graphic {
        stroke-dasharray: 9600;
        stroke-dashoffset: 9600;
        fill-opacity: 0;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        animation-iteration: 1;
        -webkit-animation-name: DrawLine, FadeStroke, FillIn;
        animation-name: DrawLine, FadeStroke, FillIn;
        -webkit-animation-duration: 2s, 1s, 1s;
        animation-duration: 2s, 1s, 1s;
        -webkit-animation-delay: 1s, 3s, 3s;
        animation-delay: 1s, 3s, 3s; }
      @-webkit-keyframes DrawLine {
        to {
          stroke-dashoffset: 0; } }
      @keyframes DrawLine {
        to {
          stroke-dashoffset: 0; } }
      @-webkit-keyframes FadeStroke {
        to {
          stroke-opacity: 0; } }
      @keyframes FadeStroke {
        to {
          stroke-opacity: 0; } }
      @-webkit-keyframes FillIn {
        from {
          fill-opacity: 0; }
        to {
          fill-opacity: 1; } }
      @keyframes FillIn {
        from {
          fill-opacity: 0; }
        to {
          fill-opacity: 1; } } }
    @supports (-ms-ime-align: auto) {
      body section#monogram svg #graphic {
        stroke: none; } }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      body section#monogram svg #graphic {
        stroke: none; } }
  body section#content-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto 3rem;
    border-radius: 5px;
    background-color: rgba(34, 34, 34, 0.85);
    padding: 1rem; }
    body section#content-container #close {
      position: absolute;
      top: -13px;
      right: 5px;
      font-size: 3rem;
      cursor: pointer; }
    body section#content-container .column-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
      body section#content-container .column-section .column {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
        flex: 1 1 48%;
        padding: 20px 0; }
        body section#content-container .column-section .column.left-column {
          padding-right: 15px; }
        body section#content-container .column-section .column:not(.left-column) {
          padding-left: 15px; }
        @media (max-width: 798px) {
          body section#content-container .column-section .column {
            -ms-flex-preferred-size: 51%;
            flex-basis: 51%; }
            body section#content-container .column-section .column.left-column {
              padding-right: 0; }
            body section#content-container .column-section .column:not(.left-column) {
              padding-left: 0; } }
      body section#content-container .column-section#registry-images {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        body section#content-container .column-section#registry-images .registry-image {
          margin: 1rem 0;
          text-align: center; }
    body section#content-container #rsvp-form-container {
      text-align: center; }
      body section#content-container #rsvp-form-container #rsvp-form input {
        border: 1px solid #fafafa;
        background-color: transparent;
        margin: 0.5rem auto;
        padding: 0.5rem;
        color: #fafafa;
        font-size: 1rem; }
        body section#content-container #rsvp-form-container #rsvp-form input[name="attendees"] {
          max-width: 30px; }
        body section#content-container #rsvp-form-container #rsvp-form input[name="phone"] {
          display: none; }
      body section#content-container #rsvp-form-container #rsvp-form #rsvp-submit {
        margin-top: 0.5rem;
        border: none;
        background-color: #ba9261;
        padding: 0.5rem 1rem;
        font-size: 1rem; }
  body footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: .25rem;
    background-color: #222;
    opacity: .8;
    font-size: .9rem;
    color: #fafafa;
    text-align: center; }
    body footer p {
      margin: .25rem auto; }

/*# sourceMappingURL=style.css.map */
